@model IEnumerable<RegisterandLogin.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                <form asp-action="Delete" asp-route-g="@item.g" method="post">
                <a asp-action="Edit" asp-route-g="@item.g">Edit</a> |
                <a asp-action="Details" asp-route-g="@item.g">Details</a> |
                <a asp-action="Delete" asp-route-g="@item.g">Delete</a> |
                <button type="submit" onclick="return confirm('Are you sure you want to delete @item.Email')">
                Delete Here </button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts
{

}
